/* Global Styles */
body {
  font-family: "Akaya Kanadaka", serif;
  line-height: 1.6;
  background: linear-gradient(45deg, #d2e0fb, #fef9d9);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: #333333;
}

/* Global Text Styles */
h1, h2, h3, h4, p {
  line-height: 1.6; /* Maintain a good line height for readability */
}

/* Specific Styles for Headings */
h1 {
  font-size: 2.5em; /* Adjust size for h1 */
  margin-bottom: 20px; /* Add space below h1 */
  text-align: center; /* Center align h1 */
}

h2 {
  font-size: 2em; /* Adjust size for h2 */
  margin-bottom: 15px; /* Add space below h2 */
	text-align: center;
}

h3 {
  font-size: 1.75em; /* Adjust size for h3 */
  margin-bottom: 10px; /* Add space below h3 */
	text-align: center;
}

h4 {
  font-size: 1.5em; /* Adjust size for h4 */
  margin-bottom: 5px; /* Add space below h4 */
	text-align: center;
}

/* Paragraph Styles */
p {
  margin-bottom: 15px; /* Add space below paragraphs */
	text-align: center;
}

a{
  color: #007bff;
  text-decoration: none;
	display: flex;
  align-items: center;
  justify-content: center;
	
}

a:hover {
  text-decoration: underline;
}

/* Keyframes for background animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Section Styles */
section {
  background: rgba(254, 249, 217, 0.9); /* Slightly transparent for layering effect */
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

/* Navigation Styles */
.sidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.sidenav a:hover {
  left: 0;
}

#mySidenav a {
  top: 20px;
}

#mySidenav a:nth-child(1) {
  top: 20px;
  background-color: #04aa6d;
}

#mySidenav a:nth-child(2) {
  top: 80px;
  background-color: #2196f3;
}

#mySidenav a:nth-child(3) {
  top: 140px;
  background-color: #f44336;
}

#mySidenav a:nth-child(4) {
  top: 200px;
  background-color: #555555;
}

/* Image Styles */
img {
  width: 200px;
  height: 150px;
}

@media only screen and (max-width: 768px) {
  img {
    width: 150px;
    height: 100px;
  }
}

@media only screen and (max-width: 480px) {
  img {
    width: 100px;
    height: 75px;
  }
}